.search {
    width: 80px;
    height: 80px;
    background-color: #FF8B44;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search__icon {
    fill: #DADADA !important;
}