.navBar {
    border-radius: 25px;
    margin-top: 10px;
    padding: 40px 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: black;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
}
